* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* HEADER */
header {
    background-color: aquamarine;
    height: 4rem;
    line-height: 4rem;
}

.container-header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav {
    display: none;
}

@media screen and (min-width: 992px) {
    .container {
        width: 80%;
        margin: 0 auto;
        background-color: aqua;
    }
    
    .hamburger {
        display: none;
    }

    nav {
        display: inline-block;
    }

    ul {
        display: flex; 
        gap: 1rem;
        list-style-type: none;  
    }
}

/* /HEDAER */

/* MAIN */
/* functionalities section */
.functionalities-container {
    width: 90%;
    margin: 0 auto;
}

.card {
    /* debug */
    min-height: 150px;
    background-color: orange;
    margin: 1rem 0;
}

.first {
    /* debug */
    min-height: 350px;
    background-color: red;
}

@media screen and (min-width: 768px) {
    .functionalities-container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .card {
        width: calc(100% / 3 - 2rem / 3);
    }

    .first {
        width: calc(100% - (100% / 3) - 1rem / 2);
    }
}
/* functionalities section */

/* planning section */
.planning-container {
    margin: 0 auto;
    background-color: green;
    padding: 1rem 1rem;
    text-align: center;
}

.planning-wrap {
    width: 90%;
    margin: 0 auto;
}

.planning-img {
    /* debugging */
    width: 80%;
    min-height: 200px;
    margin: 1rem auto;
    background-color: lightgreen;
}

.app-card {
    padding: 1rem;
    background-color: greenyellow;
}

.planning-container p {
    margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
    .planning-wrap {
        width: 60%;
        margin: 0 auto;
        display: flex;
        gap: 2rem;
    }
    
    .strategic-container {
        width: 60%;
    }

    .app-card {
        margin-top: 5rem;
        width: 40%;
    }
}
/* /planning section */

/* partners section */
.partners-container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.partner-card {
    background-color: yellow;
    text-align: center;
    margin: 1rem 0;
    padding: 1rem 2rem;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin: 1rem auto;
}

.partner-card p{
    margin: 2rem 0;
}

@media screen and (min-width: 768px) {
    .partners-container {
        width: 80%;
        margin: 0 auto;
    }

    .partner-card {
        display: flex;
    }
    
    .partner-info {
        width: 70%;
    }
}
/* /testimonials section */